In [1]:
import pandas as pd

In [8]:
path = r"C:\Users\84904\Downloads\sales2019_12.csv"
dataframe = pd.read_csv(path)
dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [10]:
Name="Michael Jackson" 
Name.find('el')

5

In [12]:
A='1'
B='2'
print(A+B)

12

In [15]:
F="You are wrong"
F.upper()

'YOU ARE WRONG'

In [17]:
A=((11,12),[21,22])
A[0][1]

12

In [18]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [23]:
V={'A','B'}
m = V.add('C')
print(m)

None

In [24]:
range(3)

range(0, 3)

In [26]:
for n in range(3):
    print(n)

0
1
2

In [27]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [28]:
def Add(x,y):
    z=y+x

    return(y)

In [30]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2