In [1]:
print("Hello\nWorld!")

Hello
World!

In [1]:
name = 'Lizz'
print(name[0:2])

Li

In [2]:
var = '01234567'
print(var[::2])

0246

In [4]:
A=(0,1,2,3)
print(A[-1])

3

In [6]:
print(A[3])

3

In [7]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [28]:
a = """In this video, we will cover lists and tuples. These are called compound data types and are
one of the key types of data structures in Python.
Tuples Tuples are an ordered sequence.
Here is a Tuple “Ratings.”
Tuples are expressed as comma-separated elements within parentheses.
These are values inside the parentheses.
In Python, there are different types: strings, integer, float.
They can all be contained in a tuple, but the type of the variable is tuple.
Each element of a tuple can be accessed via an index.
The following table represents the relationship between the index and the elements in the
tuple.
The first element can be accessed by the name of the tuple followed by a square bracket
with the index number, in this case, zero.
We can access the second element as follows.
We can also access the last element.
In Python, we can use negative index.
The relationship is as follows.
The corresponding values are shown here.
We can concatenate or combine tuples by adding them.
The result is the following with the following index.
If we would like multiple elements from a tuple, we could also slice tuples.
For example, if we want the first three elements, we use the following command.
The last index is 1 larger than the index you want.
Similarly, if we want the last two elements, we use the following command.
Notice how the last index is 1 larger than the length of the tuple.
We can use the “len” command to obtain the length of a tuple.
As there are 5 elements, the result is five.
Tuples are immutable, which means we can't change them.
To see why this is important, let's see what happens when we set the variable Ratings 1
to ratings.
Let's use the image to provide a simplified explanation of what’s going on.
Each variable does not contain a tuple, but references the same immutable tuple object.
See the ‘objects and classes’ module for more about objects.
Let's say we want to change the element at index 2.
Because tuples are immutable, we can't.
Therefore, Ratings 1 will not be affected by a change in Rating because the tuple is
immutable i.e., we can't change it.
We can assign a different tuple to the Ratings variable.
The variable Ratings now references another tuple.
As a consequence of immutability, if we would like to manipulate a tuple, we must create
a new tuple instead.
For example, if we would like to sort a tuple, we use the function sorted.
The input is the original tuple.
The output is a new sorted tuple.
For more on functions, see our video on functions.
A tuple can contain other tuples as well as other complex data types; this is called nesting.
We can access these elements using the standard indexing methods.
If we select an index with a tuple, the same index convention applies.
As such, we can then access values in the tuple.
For example, we could access the second element.
We can apply this indexing directly to the tuple variable NT.
It is helpful to visualize this as a tree.
We can visualize this nesting as a tree.
The tuple has the following indexes.
If we consider indexes with other tuples, we see the tuple at index 2 contains a tuple
with two elements.
We can access those two indexes.
The same convention applies to index 3.
We can access the elements in those tuples as well.
We can continue the process.
We can even access deeper levels of the tree by adding another square bracket.
We can access different characters in the string or various elements in the second tuple
contained in the first.
Lists are also a popular data structure in Python.
Lists are also an ordered sequence.
Here is a list L. A list is represented with square brackets.
In many respects lists are like tuples, one key difference is they are mutable.
Lists can contain strings, floats, integers.
We can nest other lists.
We also nest tuples and other data structures; the same indexing conventions apply for nesting.
Like tuples, each element of a list can be accessed via an index.
The following table represents the relationship between the index and the elements in the
list.
The first element can be accessed by the name of the list followed by a square bracket with
the index number, in this case zero.
We can access the second element as follows.
We can also access the last element.
In Python, we can use a negative index.
The relationship is as follows.
The corresponding indexes are as follows.
We can also perform slicing in lists.
For example, if we want the last two elements in this list we use the following command.
Notice how the last index is 1 larger than the length of the list.
The index conventions for lists and tuples are identical.
Check the labs for more examples.
We can concatenate or combine lists by adding them.
The result is the following.
The new list has the following indices.
Lists are mutable, therefore, we can change them.
For example, we apply the method extends by adding a "dot" followed by the name of the
method, then parenthesis.
The argument inside the parenthesis is a new list that we are going to concatenate to the
original list.
In this case, instead of creating a new list, L1, the original list L is modified by adding
two new elements.
To learn more about methods check out our video on objects and classes.
Another similar method is append.
If we apply append instead of extended we add one element to the list.
If we look at the index, there is only one more element.
Index 3 contains the list we appended.
Every time we apply a method, the lists changes.
If we apply extend, we add two new elements to the list.
The list L is modified by adding two new elements.
If we append the string “A“, we further change the list adding the string “A”.
As lists are mutable, we can change them.
For example, we can change the first element as follows.
The list now becomes: “hard rock”, 10, 1.2.
We can delete an element of a list using the "del" command; we simply indicate the list
item we would like to remove as an argument.
For example, if we would like to remove the first element, the result becomes 10,1.2.
We can delete the second element.
This operation removes the second element of the list.
We can convert a string to a list using split.
For example, the method split converts every group of characters separated by a space into
an element of a list.
We can use the split function to separate strings on a specific character, known as
a delimiter.
We simply pass the delimiter we would like to split on as an argument, in this case a
comma.
The result is a list, each element corresponds to a set of characters that have been separated
by a comma.
When we set one variable, B equal to A, both A and B are referencing the same list.
Multiple names referring to the same object is known as aliasing.
We know from the last slide that the first element in B is set as hard rock.
If we change the first element in “A” to “banana” we get a side effect; the
value of B will change as a consequence.
"A" and “B” are referencing the same list, therefore if we change "A“, list "B" also
changes.
If we check the first element of B after changing list ”A” we get banana instead of hard
rock.
You can clone list “A” by using the following syntax.
Variable "A" references one list.
Variable “B” references a new copy or clone of the original list.
Now if you change “A”, "B" will not change.
We can get more info on lists, tuples and many other objects in Python using the help
command.
Simply pass in the list, tuple or any other Python object.
See the labs for more things you can do with lists."""
# words = a.split()
# num_words = len(words)
# print("Số từ trong đoạn văn là:", num_words)
print(len(a.split()))

1361

In [25]:
length = len(a)

In [29]:
num_characters = len(a)
print("Số ký tự trong đoạn văn là:", num_characters)

Số ký tự trong đoạn văn là: 7489

In [30]:
len(a)

7489

In [49]:
b = a[0:2000]
c = a[2000:4000]
d = a[4000:6000]
e = a[6000:-1]
print(e)

0,1.2.
We can delete the second element.
This operation removes the second element of the list.
We can convert a string to a list using split.
For example, the method split converts every group of characters separated by a space into
an element of a list.
We can use the split function to separate strings on a specific character, known as
a delimiter.
We simply pass the delimiter we would like to split on as an argument, in this case a
comma.
The result is a list, each element corresponds to a set of characters that have been separated
by a comma.
When we set one variable, B equal to A, both A and B are referencing the same list.
Multiple names referring to the same object is known as aliasing.
We know from the last slide that the first element in B is set as hard rock.
If we change the first element in “A” to “banana” we get a side effect; the
value of B will change as a consequence.
"A" and “B” are referencing the same list, therefore if we change "A“, list "B" also
changes.
If we check the first element of B after changing list ”A” we get banana instead of hard
rock.
You can clone list “A” by using the following syntax.
Variable "A" references one list.
Variable “B” references a new copy or clone of the original list.
Now if you change “A”, "B" will not change.
We can get more info on lists, tuples and many other objects in Python using the help
command.
Simply pass in the list, tuple or any other Python object.
See the labs for more things you can do with lists

In [51]:
C_tuple=(-5, 1, -3)
a = sorted(C_tuple)
a

[-5, -3, 1]

In [52]:
C_tuple=(-5, 1, -3)
b = sorted(C_tuple)
b

[-5, -3, 1]

In [53]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [54]:
tuple1 = ("disco",10,1.2 )
len(tuple1)

3

In [55]:
tuple1[0]

'disco'

In [56]:
tuple1[0][1]

'i'

In [61]:
t = list('hard')
print(t)

['h', 'a', 'r', 'd']

In [62]:
list('hard')

['h', 'a', 'r', 'd']

In [63]:
A=["a","b","c"]
A[1:]

['b', 'c']

In [89]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while (i<len(Animals) and (len(Animals[i])) == 7):
    print(Animals[i])

In [87]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
len(Animals[i])

4

In [91]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
new = []
i = 0
while i < len(Animals):
    j = Animals[i]
    if len(j) == 7:
        new.append(j)
    i = i + 1
print(new)

['giraffe', 'gorilla', 'parrots']

In [94]:
a=1
def add(b):
return a+b
c=add(10)
print(c)

IndentationError: expected an indented block after function definition on line 2 (3641322190.py, line 3)

In [95]:
def chao_mung():
    """Hàm này in ra một lời chào."""
    print("Xin chào! Chào mừng bạn đến với Python.")

# Gọi hàm
chao_mung()

Xin chào! Chào mừng bạn đến với Python.

In [96]:
def tinh_tong(a, b):
    """Hàm này nhận hai tham số và trả về tổng của chúng."""
    tong = a + b
    return tong

# Gọi hàm và in kết quả
ket_qua = tinh_tong(5, 7)
print("Tổng là:", ket_qua)

Tổng là: 12

In [97]:
def chao_nguoi_dung(ten):
    """Hàm này nhận một tham số tên và in ra lời chào với tên đó."""
    print(f"Xin chào, {ten}!")

# Gọi hàm
chao_nguoi_dung("An")

Xin chào, An!

In [100]:
def chao_nguoi_dung(ten="bạn"):
    """Hàm này nhận một tham số tên và in ra lời chào với tên đó. Nếu không có tên, mặc định là 'bạn'."""
    print(f"Xin chào, {ten}!")

# Gọi hàm với và không với tham số
chao_nguoi_dung("An")
chao_nguoi_dung()

Xin chào, An!
Xin chào, bạn!

In [107]:
def tinh_tich_va_hieu(a, b):
    """Hàm này nhận hai tham số và trả về tích và hiệu của chúng."""
    tich = a * b
    hieu = a - b
    return tich, hieu

# Gọi hàm và lưu trữ kết quả
ket_qua_tich, ket_qua_hieu = tinh_tich_va_hieu(10, 5)
print("Tích là:", ket_qua_tich)
print("Hiệu là:", ket_qua_hieu)

Tích là: 50
Hiệu là: 5

In [108]:
def f(*x):

return sum(x)

IndentationError: expected an indented block after function definition on line 1 (4262559126.py, line 3)

In [110]:
A = range[1,100]
print(A)

TypeError: type 'range' is not subscriptable

In [111]:
def danhsachcham(i,list):
    
while i,s in enumerate(range(1,100):
    i = 1
    s = 1
    if i%/s == 0:
        L1.append(i)
        print(L1)
    s = s + 1
print

SyntaxError: incomplete input (691488725.py, line 3)

In [112]:
# Khởi tạo trạng thái ban đầu của các tủ (False là đóng, True là mở)
tu_trang_thai = [False] * 101

# Đổi trạng thái các tủ
for nguoi in range(1, 101):
    for tu in range(nguoi, 101, nguoi):
        tu_trang_thai[tu] = not tu_trang_thai[tu]

# In ra các tủ đang mở
mo_cua = [tu for tu in range(1, 101) if tu_trang_thai[tu]]
print(mo_cua)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# false là đóng, true là mở
tu_trang_thai = [False]*101
for nguoi in range(1,101):
    for tu in range(nguoi,101,nguoi):
        tu_trang_thai[tu] = not tu_trang_thai[tu]
mo_cua = [tu for tu in range(1,101) if tu_trang_thai[tu]]
print(mo_cua)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
def f(a,b):
    
    return a*b

In [4]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [5]:
Mult(2, 3)

6

In [6]:
Mult(10.0, 3.14)

31.400000000000002

In [7]:
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [8]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [9]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [10]:
square(2)

2 if you square + 1 5

5

In [11]:
def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [12]:
MJ()

Michael Jackson

In [13]:
MJ1()

Michael Jackson

In [14]:
print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [18]:
def con(a, b):
    return(a + b)
con("This ", "is")

'This is'

In [19]:
sum(1,2)

TypeError: 'int' object is not iterable

In [20]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [21]:
def PrintList(the_list):
    for element in the_list:
        print(element)

In [22]:
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [23]:
#Compare Two Strings Directly using in operator
# add string
string= "Michael Jackson is the best"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("Michael Jackson is the best")

'String matched'

In [24]:
#Compare two strings using == operator and function
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "Michael Jackson is the best"
string2 = "Michael Jackson is the best"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

String Matched

In [25]:
# Python Program to Count words in a String using Dictionary
    def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [26]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [27]:
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [28]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Michael Jackson is an artist

In [29]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [30]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [33]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

NameError: name 'myFavouriteBand' is not defined

In [34]:
'''Write a function code to find total count of word little in the given string: "Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go'''

# Write your code below and press Shift+Enter to execute
def freq(string,quantitikey):
    words = []
    words = string.split()
    Dict = {}
    for key in words:
        if key == quantitikey:
            Dict[key] = words.count(key)
    print(Dict)
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go", "little")

{'little': 3}

In [35]:
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

In [36]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [37]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1
make="BMW"
model="M3"
color="red"
my_car = Car(make,model,color)

In [38]:
make="BMW"
model="M3"
color="red"
my_car = Car(make,model,color)

In [41]:
class Vehicle:
    color = "white"
    def __init__(self,max_speed,mileage):
        self.max_speed= max_speed;
        self.mileage = mileage;
        self.seating_capacity = 0;
    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity
    def Vehicle_info(self):
        print("max_speed: ",self.max_speed)
        print("mileage: ",self.mileage)
        print("seating_capacity: ",self.seating_capacity)
        print("Color: ",self.color)
object1=Vehicle("200kph","50000kmpl")
object1=Vehicle.assign_seating_capacity(5)
object1=Vehicle.Vehicle_info()

object2=Vehicle("180kph","75000kmpl")
object2=Vehicle.assign_seating_capacity(4)
object2=Vehicle.Vehicle_info()

TypeError: Vehicle.assign_seating_capacity() missing 1 required positional argument: 'seating_capacity'

In [40]:
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)

# Creating objects of the Vehicle class
vehicle1 = Vehicle(200, 50000)
vehicle1.assign_seating_capacity(5)
vehicle1.display_properties()

vehicle2 = Vehicle(180, 75000)
vehicle2.assign_seating_capacity(4)
vehicle2.display_properties()

Properties of the Vehicle:
Color: white
Maximum Speed: 200
Mileage: 50000
Seating Capacity: 5
Properties of the Vehicle:
Color: white
Maximum Speed: 180
Mileage: 75000
Seating Capacity: 4

In [42]:
1/0

ZeroDivisionError: division by zero

In [ ]:
def safe_divide(numerator,denominator):
    try:
        result = numerator/denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by Zero.")
        return None
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

In [ ]:
def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None

In [2]:
def safe_divide(numerator, denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None

# Function to get user input and call safe_divide
def main():
    try:
        numerator = float(input("Enter the numerator: "))
        denominator = float(input("Enter the denominator: "))
    except ValueError:
        print("Error: Please enter valid numbers.")
        return

    result = safe_divide(numerator, denominator)
    if result is not None:
        print(f"The result of dividing {numerator} by {denominator} is {result}")
    else:
        print("Division was not performed due to an error.")

# Call the main function to execute the program
if __name__ == "__main__":
    main()

Enter the numerator:  2
Enter the denominator:  0

Error: Cannot divide by zero.
Division was not performed due to an error.

In [7]:
def safe_divide(numerator, denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None

# Function to get user input and call safe_divide
def main():
    try:
        numerator = float(input("Enter the numerator: "))
        denominator = float(input("Enter the denominator: "))
    except ValueError:
        print("Error: Please enter valid numbers.")
        return

    result = safe_divide(numerator, denominator)
    if result is not None:
        print(f"The result of dividing {numerator} by {denominator} is {result}")
    else:
        print("Division was not performed due to an error.")

# Call the main function to execute the program
if __name__ == "__main__":
    main()

Enter the numerator:  4
Enter the denominator:  fwae

Error: Please enter valid numbers.

In [8]:
#Type your code here
def safe_divide(numerator,denominator):
    try:
        result = numerator/denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by Zero.")
        return None

In [10]:
def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
# Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

Enter the numerator value:- 3
Enter the denominator value:- 0

Error: Cannot divide by zero.
None

In [15]:
def square_root(number1):
    try:
        import math
        result=math.sqrt(number1)
        return result
    except ValueError:
        if number1 < 0:
            print("'Invalid input! Please enter a positive integer or a float value")
        return None
number1=int(input("Enter the numerator value: "))
print(square_root(number1))

Enter the numerator value:  -3

'Invalid input! Please enter a positive integer or a float value
None

In [16]:
def complex_calculation(num):
    try:
        result = num / (num - 5)
        print (f"Result: {result}")
    except Exception as e:
        print("An error occurred during calculation.")
# Test case
user_input = float(input("Enter a number: "))
complex_calculation(user_input)

Enter a number:  5

An error occurred during calculation.

In [18]:
A = ['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [22]:
def Delta(x):

    if x==0:

        y=1;

    else:

        y=0;

    return(y)
x=int(input())
print(Delta(x))

 0

1

In [23]:
<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4032370965.py, line 47)

In [24]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [25]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
type(df['a']==1)

NameError: name 'pd' is not defined

In [26]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [27]:
df["a"].unique()

array([1, 2], dtype=int64)

In [28]:
df[df["a"]<2]

   a  b
0  1  1
2  1  1

In [29]:
df["a"]

0    1
1    2
2    1
Name: a, dtype: int64

In [30]:
df.head(2)

   a  b
0  1  1
1  2  1

In [31]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df

# """Use the following list to convert the dataframe index df to characters and assign it to df_new; 
# find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'"""

In [33]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
even_arr1 = arr1[1:-1:2]
even_arr2 = arr2[1:-1:2]
odd_arr1 = arr1[0:-1:2]
odd_arr2 = arr2[0:-1:2]
print("even from arr1 is: ", even_arr1)
print("even from arr2 is: ", even_arr2)
print("odd from arr1 is: ", odd_arr1)
print("odd from arr2 is: ", odd_arr2)

NameError: name 'np' is not defined

In [34]:
even from arr1 is:  [2 4]
even from arr2 is:  [7 9]
odd from arr1 is:  [1 3]
odd from arr2 is:  [6 8]

SyntaxError: invalid syntax (4237321345.py, line 1)

In [35]:
import numpy as np
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [36]:
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [37]:
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])